global
{{range gets "/proxy/global"}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}

{{range gets "/proxy/resolvers/*"}}
resolvers {{base .Key}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}

defaults
{{range gets "/proxy/defaults"}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}

{{range gets "/proxy/front-ends/*"}}
frontend {{base .Key}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}

{{range gets "/proxy/back-ends/*"}}
backend {{base .Key}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}
