global
{{range gets "/haproxy/global"}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}

{{range gets "/haproxy/resolvers/*"}}
resolvers {{base .Key}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}

defaults
{{range gets "/haproxy/defaults"}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}

{{range gets "/haproxy/front-ends/*"}}
frontend {{base .Key}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}

{{range gets "/haproxy/back-ends/*"}}
backend {{base .Key}}
    {{replace .Value "\\n" "\n    " -1}}
{{end}}
